In [ ]:
# date
Fri Mar 21 08:32:15 PM CET 2025

# Motivation create local database on debian and handle  data with python

## env

```bash
lsb_release -a
No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 12 (bookworm)
Release:	12
Codename:	bookworm


cat /etc/debian_version
12.10

```

[python mysql](https://www.w3schools.com/python/python_mysql_getstarted.asp)

## install  mysql-connector-python inside env

```bash
pip install mysql-connector-python 
```

## [install mysql-server local on debian os](https://armann-systems.com/wiki/umfassende-anleitung-zur-installation-von-mysql-auf-debian-12-bookworm/)

```bash
sudo apt update
apt list --upgradable
sudo apt upgrade
sudo apt install wget
wget https://dev.mysql.com/get/mysql-apt-config_0.8.33-1_all.deb
sudo apt install mysql-apt-config_0.8.33-1_all.deb

sudo apt install mysql-server

# [reset my password](https://docs.rackspace.com/docs/reset-a-mysql-root-password)

```bash
# show status of mysql
systemctl status mysql

# stop mysql local
systemctl stop mysql

# start mysql-server local 
systemctl start mysql

# [start mysql local without password](https://www.digitalocean.com/community/tutorials/how-to-reset-your-mysql-or-mariadb-root-password)
sudo mysqld_safe --skip-grant-tables --skip-networking &

# connect db
mysql -u root -p

# FLUSH PRIVILEGES
mysql> FLUSH PRIVILEGES;
Query OK, 0 rows affected (0.02 sec)

# set new password
mysql > ALTER USER 'root'@'localhost' IDENTIFIED BY 'new_password';

# quit db/mysql console
mysql> quit

# stop db graceful
sudo kill `cat /var/run/mysqld/mysqld.pid`

```

## db handling shell path :blush:

In [ ]:
login again

mysql -u root -p  <= the password of user
 


[tut how-to create a table in mysql](https://phoenixnap.com/kb/how-to-create-a-table-in-mysql)

```bash

# show all databases

```bash
mysql> show databases;

```

# crate new database

```bash
mysql> create database portfolio
```

# create a new table inside own database

```bash
create table 
```

# add grant for user to table

```bash
mysql>GRANT CREATE,ALTER,INSERT,UPDATE,DELETE,SELECT,REFERENCES on portfolio.*  TO 'trapapa'@'localhost';
```


# add rows to the database

```bash